<div id="<%= dom_id taste_session %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= taste_session.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Detail:</strong>
    <%= taste_session.detail %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Link name:</strong>
    <%= taste_session.link_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this taste session", taste_session, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this taste session', edit_taste_session_path(taste_session), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
