<!DOCTYPE html>
<html>
  <head>
    <title>Taster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex min-h-screen">
      <%= yield %>
    </main>
    <footer>
      <div class="text-center p-4">
        <span class="p-1"><%= link_to '한국어', locale: 'ko' %></span>
        <span class="p-1"><%= link_to 'English', locale: 'en' %></span>
        <span class="p-1"><%= link_to '日本語', locale: 'ja' %></span>
      </div>
      <div class="text-center px-4 py-1>
        <span class="p-1"><%= button_to 'Logout', logout_participant_session_path, method: :delete, data:
{confirm: "Are you sure you want to reset the indexes?" }  %></span>
      </div>
    </footer>
  </body>
</html>
